# Server Configuration
PORT=5000
NODE_ENV=production

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/resumeflame?retryWrites=true&w=majority

# Google Gemini
GEMINI_API_KEY=AIzaSy...

# AWS S3
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=your-s3-bucket-name

# Client origin (for CORS)
CLIENT_ORIGIN=http://localhost:3000
